<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmsmc434.latitudepals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Feed">
        </activity>
        <activity
            android:name=".ChoosingPartner"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PartnerChosen">
        </activity>
        <activity android:name=".PartnerChosen1">
        </activity>
        <activity android:name=".SharingLocationAskAll">
        </activity>
        <activity android:name=".SharingLocationGoScreen">
        </activity>
        <activity android:name=".SharingLocationSendAll">
        </activity>
        <activity android:name=".SharingLocationWithJen1">
        </activity>
        <activity android:name=".SharingLocationWithJen2">
        </activity>
        <activity android:name=".SharingLocationWithJen3">
        </activity>
        <activity android:name=".SharingLocationWithTim1">
        </activity>
        <activity android:name=".SharingLocationWithTim2">
        </activity>
        <activity android:name=".SharingLocationWithTim3">
        </activity>
        <activity android:name=".Startup">
        </activity>
        <activity android:name=".WorkoutDoneScreen">
        </activity>
        <activity android:name=".WorkoutPauseScreen">
        </activity>
        <activity android:name=".WorkoutPlayingScreen">
        </activity>
        <activity android:name=".WorkoutPlayingScreen1">
        </activity>
        <activity
            android:name=".WorkoutPlayingScreenInitial"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".YourLocation">
        </activity>
        <activity android:name=".ReactTim">
        </activity>
        <activity android:name=".ReactJen">
        </activity>
        <activity android:name=".ReactShane">
        </activity>
        <activity android:name=".ViewBuddyStats">
        </activity>

    </application>

</manifest>